p{
    color:blue;
    font-family: sans-serif;
    /* px, em,% */
    font-size: 150%;
    font-style: italic;
    font-weight: 900;
}
table{
    background-color: blueviolet;
    border-style: solid;
    border-color: black;
}
td{
    border-style: solid;
    border-color: black;
}
div{
    color: pink;
}

.basics{
    font-weight:900;
}
a:hover{
    background-color: yellow;
}